.row {
  max-width: 105rem; // Foundation override
  margin-left: 0; // Not centered
  margin-right: 0;
}

.row .row {
  margin-right: 0;
  margin-left: 0;
}

@media #{$medium-up} {
  .row .row {
    margin-right: -0.9375rem; // Found this in Foundation
    margin-left: -0.9375rem;
  }
}

[class*="column"] + [class*="column"]:last-child { float: $default-float; }