/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2014, 10:47:43 AM
    Author     : marcofernandes
*/

// TRANSLATE 3D
@mixin translateX($tx) {
  -webkit-transform: translateX($tx);
  -moz-transform: translateX($tx);
  -ms-transform: translateX($tx);
  -o-transform: translateX($tx);
  transform: translateX($tx)
}

@mixin custom-left-off-canvas-menu {
  @extend %kill-flicker;
  @extend %off-canvas-menu;
  @include translateX(-100%);
  * { @extend %kill-flicker; } 
}
@mixin custom-right-off-canvas-menu {
  @extend %kill-flicker;
  @extend %off-canvas-menu;
  @include translateX(100%);
  right:0;
}

.left-off-canvas-menu { @include custom-left-off-canvas-menu; }
.right-off-canvas-menu { @include custom-right-off-canvas-menu; }