.nav-tabs {
  //padding: 5px;
}

.nav-tabs .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.nav-tabs>li>a {
  // color: #41748D;
  // font-weight: bold;
  border: 1px solid #dddddd;
  // background: #E5F1F1;
  &:hover {
  // background: #00859B;
  //  background: #E5F1F1;
  // color: #fff;
  }
}

.nav-tabs>li {
  //margin-bottom: 5px;
  &.active a {
    font-weight: bold;
  }
}

.dropdown-menu {
  width: 100%;
}
.dropdown-menu>li>a  {
  padding: 10px 20px;
  line-height: 2;
  font-size: 1.1rem;
  font-family: helvetica;
  &:hover {
    background-color: transparent;
  }
  &:focus, &:active {
    background-color: #E5F1F1;
  }
}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
  background-color: #E5F1F1;
  border-color: #00859B;
  color: #41748D;
}

@media #{$medium-up} {
  .nav-tabs {
    padding: 0;
  }
  .nav-tabs>li   {
    margin-bottom: 0;
    a {
      border: none;
    }
  }
  .dropdown-menu {
  width: auto;
    &>li>a {
      font-size: inherit;
    }
  }
}
